<div class="search-form mt-4">
    {{!-- Nếu thêm action vào form thì ta có thẻ định nghĩa đc đâu là nơi submit đến và kèm theo query --}}
    <form method="POST"> 
        <div class="form-group mb-2">
            <label for="exampleInputEmail1">Find</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter the word">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>